body {
  background-color: #00081C;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Nunito Sans", sans-serif;
  overflow-x: hidden;

  // Estilo del scrollbar para navegadores WebKit
  &::-webkit-scrollbar {
    width: 12px; // Ancho del scrollbar vertical
    height: 12px; // Altura del scrollbar horizontal
  }

  // Estilo del track del scrollbar
  &::-webkit-scrollbar-track {
    background: #1e1e1e; // Color de fondo del track
  }

  // Estilo del thumb del scrollbar (la parte que se mueve)
  &::-webkit-scrollbar-thumb {
    background-color: #616161; // Color del thumb
    border-radius: 6px; // Bordes redondeados
    border: 3px solid #1e1e1e; // Espacio entre el thumb y el track
  }

  // Estilo del thumb del scrollbar cuando se pasa el mouse sobre él
  &::-webkit-scrollbar-thumb:hover {
    background-color: #757575; // Color del thumb al pasar el mouse
  }

  // Estilo del thumb del scrollbar cuando se hace clic sobre él
  &::-webkit-scrollbar-thumb:active {
    background-color: #bdbdbd; // Color del thumb al hacer clic
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

canvas{
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

section{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
}

.container{
  background-color: rgb(0 0 0 / 19%);
}
